.header-square{
  display: grid;
  grid-template-columns: 10% 150px 350px 30% 1fr;
  grid-template-rows: 20vh 5vh 39vh 5vh 25vh;

& h1{
  font-size: 6em;
  grid-column: 3 / 5;
  grid-row: 3;
  align-self: center;
  color: $main-color;
  font-family: 'Crimson Text', serif;
  line-height: 1.7em;
  }

  &__square {
    border-top: 20px solid $main-color;
    border-left: 20px solid $main-color;
    border-bottom: 20px solid $main-color;
    grid-column: 2 / 4;
    grid-row: 2 / 5;
}
}
