.header-square{
  display: grid;
  grid-template-columns: 10% 50px 250px 30% 30%;
  grid-template-rows: 30vh 5vh 30vh 5vh 30vh;

& h1{
  font-size: 4vw;
  grid-column: 3 / 5;
  grid-row: 3;
  align-self: center;
  color: $main-color;
  font-family: 'Crimson Text', serif;
  line-height: 1.5em;
  }

  &__square {
    border-top: 20px solid $main-color;
    border-left: 20px solid $main-color;
    border-bottom: 20px solid $main-color;
    grid-column: 2 / 4;
    grid-row: 2 / 5;
}
}
