/* Coloration blanche de toute la nav */
.navbar-light .navbar-brand, .navbar-nav .nav-item .nav-link{
  color:transparentize($dark, 0.5);
}

.main-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding: 1em;
  margin: 0 auto;

  &__logo {
    font-size: 2em;
    @media (max-width: $tel-m) {
      font-size: 1.5em;
    }
    font-family: 'Crimson Text', serif;
  }

  &__items ul{
    display: flex;
  }

  &__items li{
    list-style: none;
    margin-right: 1em;
    font-size: 1.5em;
  }
}

