.prices__cards__hypnose__content1, .prices__cards__hypnose__content2, .prices__cards__pnl__content1,
.prices__cards__pnl__content2 {
  color: $main-color;
}


/* espace entre les deux div de chaque carte de tarif */
.prices__cards__pnl__content1, .prices__cards__hypnose__content1 {
  padding-bottom: 1.2em;
}

.prices__cards__pnl {
  background-color: $title-color;
}

