.showcase {
    margin-top: 6em;
  
    &hypnose, &pnl {
      margin-bottom: 10em;
      display:flex;
      flex-wrap: wrap;
  
    }
    &pnl {
        .showcasecontent {
          order:2;
        }
    }
    &hypnose {
      @media (max-width:$comput-s) {
          .showcasecontent {
              order:2;
            }
      }
  }
  
  .showcasecontent {
      padding:0 3em;
      @media (max-width:$comput-s) {
          width: 100%;
      }
      width: 50%;
      box-sizing: border-box;
      h3 {
          font-weight: $fw-medium;
          font-size: 2em;
          margin-top: 4em;
        }
  }
  
      .showcaseimg {
          @media (max-width:$comput-s) {
              width: 100%;
          }
          width: 50%;
          img {
              width: 100%;
              height: 100%;
          }
      }
  
  }
