$main-color :#f9f7f2;
$secondary-color : #F9B654;
$secondary-lighten : #F9DCB2;
$font-color : #777777;

//#f0eeec

/* Breakpoints */
$tel-s: 320px;
$tel-m: 375px;
$tel-l: 425px;
$tablet: 768px;
$comput-s: 1024px;
$comput-m:1440px;
$comput-xl: 2560px;