.description__about{
  margin-top: 10em;
  margin-bottom: 10em;
  display: grid;
  grid-template-columns: 55% 150px 150px 1fr;
  grid-template-rows: 20vh 300px 20vh;

  .description__about__div{
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    background-color: $secondary-color;
    display: flex;
    align-items: center;

    .description__about__div__content{
      width: 60%;
      margin-left: 5em;
      color: $main-color;

      h3{
        color: $main-color;
        font-weight: $fw-medium;
        font-size: 2em;
        margin-bottom: 1.5em;
      }

      p{
        font-size: 1.2em;
        line-height: 1.5em;
      }
    }
  }

  &__img{
    grid-column:  2 / 4;
    grid-row: 2 / 3;
    background: url('../img/img-profil.jpg');
    background-position: center;
    background-size: cover;
  }
}

.description__about {
  @media (max-width: $comput-s) {
  grid-template-columns: 35% 15% 15% 35% 1fr;
  grid-template-rows: 20vh 20vh 300px 20vh 20vh;

  .description__about__div {
    grid-column: 1 / 6;
    grid-row: 2 / 7;
    
    h3 {
      margin-top: 5em;
    }

    p {
      margin-bottom: 5em;
      margin-left: 2em;
      margin-right: 2em;
    }

    .description__about__div__content {
      margin-left: 0;
      width: 100%;
      text-align: center;
    }
  }
  
  &__img {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }
}
}
