/* Footer */
.footer {
    background-color: $title-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0.5em;
    margin-top: 20em;
    width: 100%;
    @media (min-width: $tel-s) {
      width: 100%;
    }
    /* Contenu contact + réseaux sociaux */
    &__container {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 5em 0;
    }

    /* Réseaux sociaux */
    &__social-nav {
      line-height: 1.5em;
      &__title{
        font-size: 1.2em;
        margin-bottom: .8em;
      }
    }

    /* Partie contact */
    & .contact{
      line-height: 1.5em;

      &__name{
        font-size: 1.2em;
        margin-bottom: .8em;
      }
    }

    /* Fil d'ariane */
    &__ariane a {
        flex-wrap: wrap;
        margin-left: 1em;
        color: $main-color;
    }

    &__copyright {
      margin-top: 1em;

      a, i {
        display: inline;
        margin-left: 1em;
        color: $main-color;
      }
    }

    // & i.fa.fa-linkedin {
    //   margin-right: 150px;
    // }

    & .fa:before{
      margin-right: 1em;
    }
}
