
/* Partie "déroulé de la première séance" */
.seance {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 10em;
    text-align: center;
    @media (max-width: $comput-s) {
        width: 80%;
    }
    
    p {
        margin-bottom:1em;
        line-height: 1.5em;
        font-size: 1.2em;
        color: $font-color;
    }

    h3 {
        font-weight: $fw-medium;
        font-size: 2em;
        margin-bottom: 2em;
    }

}
/* .seance {

    @media (max-width: $comput-s) {
        width: 80%;
    }

    p {
        @media (max-width: $tablet) {

        }
    }
}
 */