.prices h2 {
  color: $title-color;
  font-weight: $fw-medium;
  font-size: 3em;
}

.prices {
    margin: 10em 25em 10em 25em;
    &__title {
      text-align: center;
    }
    &__cards {
      margin-top: 3em;
      display: flex;
      &__hypnose {
        margin-right: 1.2em;
        background-color: $secondary-color;
      }
      &__pnl {
        margin-left: 1.2em;
        background-color: $secondary-lighten;
      }
      &__pnl, &__hypnose{
        padding: 2.5em;
      } 
    }

}
.price__title {
  color: $main-color;
  font-size: 20px;
}