/* Section tarifs */
.prices {

    &__title {
      text-align: center;
      color: $title-color;
      font-weight: $fw-medium;
      font-size: 3em;
    }

    &__cards {
      margin-top: 3em;
      
      @media (min-width: $tel-s) {
        display: flex;
        flex-wrap: wrap;
      }
      @media (min-width: $comput-s) {
        display: flex;
        flex-wrap: nowrap;
      }

      &__pnl, &__hypnose{
        @media (min-width: $tel-s) and (max-width: $comput-s) {
          margin: 0 ;
        }
        @media (min-width: $comput-s) {
          margin: 0 3em 0 3em;
        }
        text-align: center;
        padding: 4em;
      } 

      &__hypnose {
        @media (min-width: $comput-m) {
          margin: 0 5em 0 15em;
        }
        @media (min-width: $comput-xl) {
          margin: 0 5em 0 35em;
        }
        background-color: $secondary-color;
      }
      &__pnl {
         @media (min-width: $comput-m) {
          margin: 0 5em 0 5em;
        }
        @media (min-width: $comput-xl) {
          margin: 0 3git5em 0 5em;
        }
        background-color: $secondary-lighten;
      }

      
    }

}