/* Section outils */

/* Titres */
.description__h3 {
    color: $title-color;
    font-weight: 700;
    font-size: 2em;
    margin-top: 4em;
  }

/* Boite mes outils */
.description__tools {
  max-width: 40%;
  text-align: center;
  margin: 0 auto;
  /* liens */
  &__link{
   color: $title-color;
   font-weight: 700;
   text-decoration: none;
  }

  p { 
      font-size: 1.2em;
      line-height: 1.5em;
      color: $font-color;
      margin-top: 2em;
  }
}

/* Container hypnose et pnl */
.description__container {
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
